*{
    box-sizing: border-box;
    margin: 0;
}
.background{
    background: linear-gradient(
      220deg,
      rgb(0, 8.93, 40.57) 0%,
      rgb(0, 3.97, 18.06) 54.26%,
      rgba(0, 16.13, 73.31, 0.8) 100%
    );
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.my-row{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.my-section-1{
    width: 50%;
    height: 100%;
    /* background-color: azure; */
    padding: 15px;
    min-width: 350px;
    
}

.my-section-2{
    width: 50%;
    height: 100%;
    /* background-color: rgb(68, 104, 104); */
    padding: 15px;
    min-width: 350px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}


.code-block {
    background-color: #050505eb;
    border: 1px solid #cacaca;
    padding: 20px;
    border-radius: 7px;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.code{
    color: #cacaca;
    font-size: 18px;
}

.output-data-container{
    height: 100% !important;
    width: 100% !important;
    background: linear-gradient(
      220deg,
      rgb(253, 253, 253) 0%,
      rgb(251, 255, 213) 54.26%,
      rgba(206, 207, 212, 0.8) 100%
    );
    border-radius: 7px;
    padding: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: auto;

}

button{
    /* background-color: #fff; */
    border: none;
    box-shadow: 0 0 5px #187cff;
    margin: 10px;
    background: linear-gradient(230deg, #fff, #187cff);
    font-size: 20px;
    border-radius: 15px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    transition: all 0.5s;
}

button:hover{
    box-shadow: 2px 5px 10px #84b9ff;
    cursor: pointer;
    color: white;
    background-color: black;
}

table{
    min-width: 100%;
    overflow: auto;
    
}

th{
    background-color: #555;
    color: #fff;
    height: 40px;
}

td{
    height: 30px;
    border: solid 0.5px #555;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .my-row {
      flex-direction: column;
    }
  }



